.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secao__textos{
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 1%;
}

.texto1{
    color: white;
    font-size: 0.8rem;
}

.titulo{
    color: rgb(255,211,0);
    font-size: 1.3rem;
}

strong{
    color: rgb(255,211,0);
}